@include b(DayHourComponent) {
  padding: 5px;
  margin: 4px 9px !important;
  background: #f9f9f9;
  display: flex;
  align-items: baseline;
  @include e(content) {
    display: flex;
    align-items: center;
  }
  @include e([appendLabel, prependLabel]) {
    margin: 5px;
  }
  @include e(wrap) {
    margin: 5px;
    position: relative;
    width: 110px;
    .el-input-number {
      width: 100%;
      .el-input__wrapper{
        padding: 0 48px 0px 10px;
      }
    }
  }
  @include e(suffix) {
    position: absolute;
    font-size: 12px;
    right: 12px;
    top: 0;
    //bottom: 0;
    height: 30px;
    display: flex;
    align-items: center;
    &.el-select{
      height: 22px;
      width: 50px;
      right: 1px;
      top: 0px;
      .el-select__wrapper {
        width: 100%;
        min-height: 20px !important;
        border: none !important;
        outline: none;
      }
      .el-input{
        border: none !important;
        .el-input__wrapper{
          box-shadow: none !important;
          padding: 0;
          border: none !important;
          .el-input__inner{
            line-height: 22px;
            height: 22px;
            text-align: center;
          }
          .el-input__suffix{
            margin-right: 4px;
          }
        }
      }
    }
  }
}
