@include b(FilterItem) {
  background-color: #F9F9F9;
  border-radius: 3px;
  padding: 10px 20px 28px 20px;
  margin: 12px 0;
  &>h2 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
  }
  @include e(optionContent) {
    position: relative;
  }
  @include e(add) {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: #000000;
    span {
      font-weight: 600;
      color: var(--el-color-primary);
    }
  }
}
