@include b(FilterRule) {
  padding: 5px 10px 5px 0;
  .rule-index {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #EBEBEB;
    text-align: center;
    color: #737373;
  }
  @include e(border) {
    // border-bottom: 1px dashed #E0E0E0;
  }
  // :deep(.el-select__wrapper) {
  //   width: 100%;
  // }
}
