@include b(LogicalOperatorComponent) {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 70px;
  &::before{
    content: "";
    position: absolute;
    width: 160px;
    left: 26px;
    border-right-color: transparent;
    top: 26px;
    bottom: 26px;
  }
  &.and{
    &::before{
      border: 2px solid #75A0F5;
    }
  }
  &.or{
    &::before{
      border: 2px solid #6BC8A6;
    }
  }
}
