@include b(SelectType) {
  @include e(width) {
    width: map.get($component-width, 'value');
    flex-shrink: 0;
    &>.select-trigger {
      width: 100%;
    }
    .el-select__wrapper {
      width: 100%;
    }
  }
}
